@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* palette 1:
--eerie-black: #1c1c1cff;
--platinum: #daddd8ff;
--alabaster: #ecebe4ff;
--antiflash-white: #eef0f2ff;
--ghost-white: #fafaffff;


palette2: 
--eerie-black: #242424ff;
--white: #ffffffff;
--seasalt: #f7f7f5ff;
--platinum: #e9e8e4ff;
--khaki: #a9a59aff; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
.background {
  background-color: #daddd8;
  color: #1c1c1cff;
}

.site {
  background-color: #eef0f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 3rem 3rem;
}

.container {
  margin: 0 !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-around !important;
  }
}

.navFont {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.form-control {
  border-radius: 0 !important;
}

.whereForm {
  border-radius: 3px 0 0 3px !important;
}

.btn {
  border-radius: 3px !important;
  color: black !important;
  border: 1px solid black !important;
}

.btn-outline-success {
  --bs-btn-color: #a9a59a !important;
  --bs-btn-border-color: var(--bs-btn-color);
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: var(--bs-btn-color);
  --bs-btn-hover-border-color: var(--bs-btn-color);
  --bs-btn-active-bg: var(--bs-btn-color);
  --bs-btn-active-border-color: var(--bs-btn-color);
  --bs-btn-disabled-color: var(--bs-btn-color);
  --bs-btn-disabled-border-color: var(--bs-btn-color);
}

@media (max-width: 992px) {
  .py-md {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

@media (max-width: 992px) {
  .form-control-sm {
    max-width: 150px;
  }
  .btnSearch {
    font-size: 0.6rem !important;
    /* border-radius: 0 3px 3px 0 !important; */
  }

  .loop {
    font-size: 0.7rem !important;
  }
}

@media (min-width: 993px) {
  .form-control {
    max-width: 200px;
    font-size: 1rem !important;
  }
  .btnSearch,
  .loop {
    font-size: 0.8rem !important;
  }
}

.btnSearch {
  border-radius: 0 3px 3px 0 !important;
}

.react-datepicker {
  font-family: "Montserrat", sans-serif !important;
}

.react-datepicker__day--today,
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover,
.react-datepicker__day--in-selecting-range {
  background-color: #e9e8e4ff !important;
  color: #1c1c1cff !important;
}
