@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* palette 1:
--eerie-black: #1c1c1cff;
--platinum: #daddd8ff;
--alabaster: #ecebe4ff;
--antiflash-white: #eef0f2ff;
--ghost-white: #fafaffff;


palette2:
--eerie-black: #242424ff;
--white: #ffffffff;
--seasalt: #f7f7f5ff;
--platinum: #e9e8e4ff;
--khaki: #a9a59aff; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body,
.background {
  background-color: #daddd8;
  color: #1c1c1cff;
} */

/* .main {
  box-sizing: border-box;
  background-color: #eef0f2;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 3rem 3rem;
}

footer {
  flex-shrink: 0;
} */

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #daddd8ff !important;
  color: #1c1c1cff;
}

.site {
  margin: 3rem;
  background-color: #eef0f2;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3rem);
  overflow: auto;
}

.content {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer {
  flex-shrink: 0;
} */

@media (min-width: 768px) and (max-width: 992px) {
  .site {
    margin: 1.5rem;
  }
}

@media (max-width: 768px) {
  .site {
    margin: 1rem;
  }
}

.container {
  margin: 0 !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-around !important;
  }
}

.navFont {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.form-control {
  border-radius: 0 !important;
}

.whereForm {
  border-radius: 3px 0 0 3px !important;
}

.btn {
  border-radius: 3px !important;
  color: #1c1c1cff !important;
  border: 1px solid #1c1c1cff !important;
}

.btn-outline-success {
  --bs-btn-color: #a9a59a !important;
  --bs-btn-border-color: #a9a59a !important;
  --bs-btn-hover-color: #a9a59a !important;
  --bs-btn-hover-bg: #a9a59a !important;
  --bs-btn-hover-border-color: #a9a59a !important;
  --bs-btn-active-bg: #a9a59a !important;
  --bs-btn-active-border-color: #a9a59a !important;
  --bs-btn-disabled-color: #a9a59a !important;
  --bs-btn-disabled-border-color: #a9a59a !important;
}

@media (max-width: 992px) {
  .py-md {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

@media (max-width: 992px) {
  .form-control-sm {
    max-width: 150px;
  }
  .btnSearch {
    font-size: 0.6rem !important;
    /* border-radius: 0 3px 3px 0 !important; */
  }

  .loop {
    font-size: 0.7rem !important;
  }
}

@media (min-width: 993px) {
  .form-control {
    max-width: 200px;
    font-size: 1rem !important;
  }
  .btnSearch,
  .loop {
    font-size: 0.8rem !important;
  }
}

.btnSearch {
  border-radius: 0 3px 3px 0 !important;
}

.react-datepicker {
  font-family: "Montserrat", sans-serif !important;
}

.react-datepicker__day--today,
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover,
.react-datepicker__day--in-selecting-range {
  background-color: #e9e8e4ff !important;
  color: #1c1c1cff !important;
}

.btnToModalsNav {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
}

/* modals */

.modal-content {
  background-color: #daddd8ff !important;
  color: #1c1c1cff !important;
  border: 1px solid #1c1c1cff !important;
  border-radius: 0 !important;
  font-family: "Montserrat", sans-serif !important;
}

.modal-header {
  margin: 1rem 1rem 0 1rem !important;
  background-color: #eef0f2 !important;
  border-radius: 0 !important;
}

.modal-body {
  margin: 0 1rem 0 1rem !important;
  background-color: #eef0f2 !important;
}

.modal-footer {
  margin: 0 1rem 1rem 1rem !important;
  background-color: #eef0f2 !important;
  border-radius: 0 !important;
}

.formGroup {
  margin: 0 1rem !important;
}

.formControlModal {
  border-radius: 3px !important;
  max-width: 100% !important;
}

.form-control:focus {
  border-color: #a9a59a !important;
  box-shadow: 0 0 0 0.25rem rgba(169, 165, 154, 0.25) !important;
}

/* carousel Home */

.containerCarouselHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: auto;
}

.carouselItemHome {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: 1px solid #1c1c1cff;
  border-radius: 15px;
}

@media (max-width: 992px) {
  .carouselItemHome {
    border-radius: 10px;
  }
}

.carouselItemHome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.lessonContainer {
  background-color: rgba(0, 0, 0, 0.5);
}

.word {
  font-family: "Advent Pro", sans-serif;
  color: #e9e8e4ff;
  font-size: 4rem;
  text-align: right;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

.line {
  border-left: 2px solid #e9e8e4ff;
  margin: 1rem 0 1rem 1rem !important;
}

.phonetic,
.def,
.example {
  font-family: "Montserrat", sans-serif;
  color: #e9e8e4ff;
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
  font-weight: 400;
  display: flex;
  justify-content: start;
  align-items: center;
}

.example {
  font-style: italic;
}

.phrase {
  font-family: "Advent Pro", sans-serif;
  color: #fafaffff;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin: 0.5rem 0;
}

@media (max-width: 992px) {
  .phrase {
    font-size: 1.5rem;
    margin: 0.25rem 0;
  }
  .word {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .phrase {
    font-size: 1.5rem;
    margin: 0.15rem 0;
  }
  .word {
    font-size: 2rem;
    text-align: left;
    justify-content: start;
    margin-left: 2rem;
  }
}

/* cardHome & cardPage */

.card {
  --bs-card-border-color: none !important;
}

.imgCardBorder,
.bodyCardBorder,
.footerCardBorder {
  border: 0.5px solid #1c1c1cff !important;
  background-color: #fff !important;
}

.imgCardBorder {
  border-radius: 10px 10px 0 0 !important;
}

@media (max-width: 992px) {
  .imgCardBorder {
    border-radius: 5px 5px 0 0 !important;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.imgContainer2 {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.imgResponsive {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  border-radius: 10px 10px 0 0 !important;
  font-family: "Montserrat", sans-serif;
  color: #e9e8e4ff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi {
  color: #1c1c1cff;
}

.maximumGuests,
.starsRating,
.location,
.breakfast,
.parking,
.pets,
.wifi,
.host {
  font-family: "Montserrat", sans-serif;
  color: #1c1c1cff;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.availabilityCalendar {
  margin: auto;
  width: 50%;
}

.addressDetails,
.breakfastDetails,
.locationDetails,
.parkingDetails,
.petsDetails,
.wifiDetails,
.hostDetails,
.availabilityDetails {
  margin: 0 1rem !important;
}

.availabilityDetails {
  margin: 0;
  width: 100%;
}

.media {
  font-weight: 300 !important;
}

p {
  margin-bottom: 0 !important;
  font-family: "Montserrat", sans-serif;
  color: #1c1c1cff;
  font-size: 1rem;
}

.bi-plus {
  font-family: "Montserrat", sans-serif;
  color: #1c1c1cff;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.footerCardBorder {
  border-radius: 0 0 10px 10px !important;
}

@media (max-width: 992px) {
  .footerCardBorder {
    border-radius: 0 0 5px 5px !important;
  }
}

.cardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardWidth {
  max-width: 70%;
}

@media (max-width: 992px) {
  .cardWidth {
    max-width: 90%;
  }
}
