@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* palette 1:
--eerie-black: #1c1c1cff;
--platinum: #daddd8ff;
--alabaster: #ecebe4ff;
--antiflash-white: #eef0f2ff;
--ghost-white: #fafaffff;


palette2:
--eerie-black: #242424ff;
--white: #ffffffff;
--seasalt: #f7f7f5ff;
--platinum: #e9e8e4ff;
--khaki: #a9a59aff; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #daddd8ff !important;
  color: #1c1c1cff;
}

.site {
  margin: 3rem;
  background-color: #eef0f2;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 3rem);
  overflow: hidden;
}

.content {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 992px) {
  .site {
    margin: 1.5rem;
  }
}

@media (max-width: 768px) {
  .site {
    margin: 1rem;
  }
}

.container {
  margin: 0 !important;
}

.navbar-toggler {
  border: none !important;
}

@media (min-width: 992px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: space-around !important;
  }
}

.navFont {
  font-family: "Montserrat", sans-serif;
}

.logo {
  font-family: "Advent Pro", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 1rem;
}

.form-control {
  border-radius: 0 !important;
}

.whereForm {
  border-radius: 3px 0 0 3px !important;
  border: 1px solid #1c1c1cff !important;
}

.btn {
  border-radius: 3px !important;
  color: #1c1c1cff !important;
  border: 1px solid #1c1c1cff !important;
}

.btn-outline-success {
  --bs-btn-color: #a9a59a !important;
  --bs-btn-border-color: #a9a59a !important;
  --bs-btn-hover-color: #a9a59a !important;
  --bs-btn-hover-bg: #a9a59a !important;
  --bs-btn-hover-border-color: #a9a59a !important;
  --bs-btn-active-bg: #a9a59a !important;
  --bs-btn-active-border-color: #a9a59a !important;
  --bs-btn-disabled-color: #a9a59a !important;
  --bs-btn-disabled-border-color: #a9a59a !important;
}

/* @media (max-width: 992px) {
  .py-md {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
} */

.form-control {
  width: 300px;
  font-size: 1rem !important;
}

.btnSearch,
.magnifyingGlass {
  font-size: 0.85rem !important;
}

.btnSearch {
  border-radius: 0 3px 3px 0 !important;
}

.react-datepicker {
  font-family: "Montserrat", sans-serif !important;
}

.react-datepicker__day--today,
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #e9e8e4ff !important;
  color: #1c1c1cff !important;
}

.btnToModalsNav {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* modals */

.modal-content {
  background-color: #daddd8ff !important;
  color: #1c1c1cff !important;
  border: 1px solid #1c1c1cff !important;
  border-radius: 0 !important;
  font-family: "Montserrat", sans-serif !important;
}

.modal-header {
  margin: 1rem 1rem 0 1rem !important;
  background-color: #eef0f2 !important;
  border-radius: 0 !important;
}

.modal-body {
  margin: 0 1rem 0 1rem !important;
  background-color: #eef0f2 !important;
}

.form-check-input:checked {
  background-color: #1c1c1cff !important;
  border-color: #1c1c1cff !important;
}

.modal-footer {
  margin: 0 1rem 1rem 1rem !important;
  background-color: #eef0f2 !important;
  border-radius: 0 !important;
}

.formGroup {
  margin: 1rem 1rem !important;
}

.formControlModal {
  border-radius: 3px !important;
  max-width: 100% !important;
}

.form-control:focus {
  border-color: #a9a59a !important;
  box-shadow: 0 0 0 0.25rem rgba(169, 165, 154, 0.25) !important;
}

/* .dropdownItem {
  margin-left: 3.5rem !important;
} */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .search-form {
    order: 3;
  }
  .nav {
    order: 2;
  }
}

@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
  }
  .search-form {
    order: 2;
  }
  .nav {
    order: 3;
  }
}

.navbar {
  position: relative;
}

.dropdown-menu {
  position: absolute !important;
  /* right: 0 !important; */
  z-index: 10000 !important;
  border-radius: 0 !important;
  padding: 0.5rem !important;
  font-family: "Montserrat", sans-serif !important;
}

@media (max-width: 576px) {
  .dropdown-menu {
    margin: auto !important;
  }
}

.show {
  z-index: auto !important;
}

.dropdownContainer {
  background-color: #eef0f2 !important;
  margin: 0.4rem !important;
  padding: 0.4rem 0rem !important;
}

.dropdown-menu[data-bs-popper] {
  left: auto !important;
  right: 0 !important;
  border: 0.5px solid #1c1c1cff !important;
  background-color: #daddd8ff !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle {
  padding-right: 1rem !important;
}

.rounded-circle {
  border: 0.5px solid #1c1c1cff !important;
}

/* carousel Home */

.carouselWrapper {
  width: 94%;
  margin: auto;
}

.containerCarouselHome {
  position: relative;
  display: flex;
  overflow: visible;
  width: 100%;

  height: auto;
  margin: auto;
}

.carouselItemHome {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: 1px solid #1c1c1cff;
  border-radius: 15px;
}

.carouselItemHome .carousel-caption {
  position: absolute;
  bottom: 0;
}

@media (max-width: 992px) {
  .carouselItemHome {
    border-radius: 10px;
  }
}

.carouselItemHome img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.lessonContainer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0rem 1rem 1rem 1rem;
}

.word {
  font-family: "Advent Pro", sans-serif;
  color: #e9e8e4ff;
  font-size: 4rem;
  text-align: right;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

.line {
  border-left: 2px solid #e9e8e4ff;
  margin: 1rem 0 1rem 1rem !important;
}

.phonetic,
.def,
.example {
  font-family: "Montserrat", sans-serif;
  color: #e9e8e4ff;
  font-size: 1rem;
  margin-left: 1rem;
  text-align: left;
  font-weight: 400;
  display: flex;
  justify-content: start;
  align-items: center;
}

.example {
  font-style: italic;
}

.phrase {
  font-family: "Advent Pro", sans-serif;
  color: #fafaffff;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin: 0.5rem 0;
}

@media (max-width: 992px) {
  .phrase {
    font-size: 1.5rem;
    margin: 0.25rem 0;
  }
  .word {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .phrase {
    font-size: 1.3rem;
    margin: 0.15rem 0;
  }
  .word {
    font-size: 2rem;
    text-align: left;
    justify-content: start;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .phonetic,
  .def,
  .example {
    font-size: 0.9rem;
    margin: 0 0.1rem;
  }
}

@media (max-width: 576px) {
  .carouselWrapper {
    width: 83%;
  }

  .carousel-caption {
    margin: 0.5rem 0rem !important;
    position: absolute;
    right: 15%;
    bottom: 0.25rem;
    left: 15%;
  }

  .phrase {
    font-size: 1.2rem;
    margin: 0.7rem 0;
  }
  .word {
    font-size: 2rem;
    text-align: left;
    justify-content: start;
    margin-left: 1.2rem;
  }

  .line {
    margin: 0.3rem 0 0.3rem 1rem !important;
  }

  .phonetic,
  .def,
  .example {
    font-size: 0.9rem;
    margin-left: 0.1rem;
    margin-right: 1rem;
  }
}

/* footer */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem !important;
  --bs-pagination-color: #1c1c1cff !important;
  --bs-pagination-hover-color: #a9a59a !important;
  --bs-pagination-focus-color: #a9a59a !important;
  --bs-pagination-active-bg: #a9a59a !important;
  --bs-pagination-active-border-color: #a9a59a !important;
}

.paginationDetails {
  font-family: "Montserrat", sans-serif;
}

.footerPositioning {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* cardHome & cardPage */

.card {
  --bs-card-border-color: none !important;
}

.imgCardBorder,
.bodyCardBorder,
.footerCardBorder {
  border: 0.5px solid #1c1c1cff !important;
  background-color: #fff !important;
}

.imgCardBorder {
  border-radius: 10px 10px 0 0 !important;
}

.imgContainer {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.imgContainer2 {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.imgResponsive {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img-overlay {
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 10px 10px 0 0 !important;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.noImgText {
  font-family: "Montserrat", sans-serif;
  color: #e9e8e4ff;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.bi {
  color: #1c1c1cff;
}

.maximumGuests,
.starsRating,
.location,
.breakfast,
.parking,
.pets,
.wifi,
.host,
.bookings {
  font-family: "Montserrat", sans-serif;
  color: #1c1c1cff;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability {
  display: flex;
}

.availabilityCalendar {
  margin: auto;
  margin-top: 0.5rem;
  width: 50%;
  min-width: 240px;
}

/* @media (max-width: 992px) {
  .availabilityCalendar {
    width: 100%;
  }
} */

.addressDetails,
.breakfastDetails,
.locationDetails,
.parkingDetails,
.petsDetails,
.wifiDetails,
.hostDetails,
.profileInfoDetails,
.bookingsDetails {
  margin: 0 1rem !important;
}

/* .availabilityDetails {
  margin: 0.5rem 0rem !important;
} */

.hostDetails {
  text-align: left;
}

.hostButton {
  margin-left: 2rem;
}

.bookingsBorder {
  border: 0.5px solid #1c1c1cff !important;
  border-radius: 5px !important;
  margin: 0.5rem 0 !important;
}

.bookingButton {
  margin: 0.5rem 0.5rem 0.5rem 0 !important;
}

.availabilityDetails {
  margin: 0;
  width: 100%;
}

.media {
  font-weight: 300 !important;
}

p {
  margin-bottom: 0 !important;
  font-family: "Montserrat", sans-serif;
  color: #1c1c1cff;
  font-size: 1rem;
}

.bi-plus {
  font-family: "Montserrat", sans-serif;
  color: #1c1c1cff;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.footerCardBorder {
  border-radius: 0 0 10px 10px !important;
}

.cardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardWidth {
  max-width: 35rem;
  min-width: 30rem;
}

@media (max-width: 992px) {
  .cardWidth {
    max-width: 35rem;
    min-width: 20rem;
  }
}

/* profile site */

.containerProfile {
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  width: 100%;
  height: 100%;
}

.imgProfile {
  width: 300px;
  height: 300px;
  border: 1px solid #1c1c1cff !important;
  border-radius: 50% !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgProfile2 {
  width: 200px;
  height: 200px;
  border: 1px solid #1c1c1cff !important;
  border-radius: 50% !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.cardProfile {
  width: 100% !important;
  min-width: 30rem !important;
  max-width: 35rem;
}

@media (max-width: 992px) {
  .cardProfile {
    min-width: 23rem !important;
    max-width: 35rem;
    display: flex;
    justify-content: center;
  }
  .imgProfile {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .cardProfile {
    min-width: 17rem !important;
    max-width: 30rem;
    display: flex;
    justify-content: center;
  }
  .imgProfile {
    height: 250px !important;
    width: 250px !important;
    margin-bottom: 2rem;
  }
}

.nameCardProfile {
  font-family: "Advent Pro", sans-serif;
  color: #1c1c1cff;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.profileInfo {
  font-weight: 500;
  margin-right: 1rem;
}

.propertiesTitleAndButton {
  margin: 3rem 3rem 0 3rem;
}

.ownerPropertiesContainer {
  width: 90vw !important;
}
